Repository TeamCrazyPerformance/TCP-Agenda, pull requests merged in 2023-03, with the labels that each got.

#20 [BE] 요청 검증 리팩터링
  backend/agenda/src/main/java/tcp/project/agenda/agenda/application/AgendaService.java
  backend/agenda/src/main/java/tcp/project/agenda/agenda/application/validator/AgendaCreateValidator.java
  backend/agenda/src/main/java/tcp/project/agenda/agenda/application/validator/VoteValidator.java
  backend/agenda/src/main/java/tcp/project/agenda/agenda/domain/Agenda.java
  backend/agenda/src/main/java/tcp/project/agenda/agenda/exception/InvalidTitleException.java
  backend/agenda/src/main/java/tcp/project/agenda/auth/application/AuthService.java
  backend/agenda/src/main/java/tcp/project/agenda/auth/application/dto/LoginRequest.java
  backend/agenda/src/main/java/tcp/project/agenda/auth/ui/AuthController.java
  backend/agenda/src/main/java/tcp/project/agenda/auth/ui/AuthorizationExtractor.java
  backend/agenda/src/main/java/tcp/project/agenda/auth/ui/BasicAuthInterceptor.java
  backend/agenda/src/main/java/tcp/project/agenda/auth/ui/dto/TokenResponse.java
  backend/agenda/src/main/java/tcp/project/agenda/common/exception/ValidationError.java
  backend/agenda/src/main/java/tcp/project/agenda/common/exception/ValidationException.java
  backend/agenda/src/test/java/tcp/project/agenda/agenda/application/AgendaServiceTest.java
  backend/agenda/src/test/java/tcp/project/agenda/agenda/domain/AgendaTest.java
  backend/agenda/src/test/java/tcp/project/agenda/agenda/ui/AgendaControllerTest.java
  backend/agenda/src/test/java/tcp/project/agenda/auth/application/AuthServiceTest.java
  backend/agenda/src/test/java/tcp/project/agenda/auth/infrastructure/AuthorizationExtractorTest.java
  backend/agenda/src/test/java/tcp/project/agenda/auth/ui/AuthControllerTest.java
  backend/agenda/src/test/java/tcp/project/agenda/common/fixture/AgendaFixture.java
  backend/agenda/src/test/java/tcp/project/agenda/common/fixture/AuthFixture.java
Labels: backend, refactor, fix

#22 [BE] 투표 취소 기능 추가
  backend/agenda/src/main/java/tcp/project/agenda/agenda/application/AgendaService.java
  backend/agenda/src/main/java/tcp/project/agenda/agenda/domain/VoteRepository.java
  backend/agenda/src/main/java/tcp/project/agenda/agenda/ui/AgendaController.java
  backend/agenda/src/test/java/tcp/project/agenda/agenda/application/AgendaServiceTest.java
  backend/agenda/src/test/java/tcp/project/agenda/agenda/ui/AgendaControllerTest.java
Labels: feature, backend

#23 [BE] 안건 전체 조회 기능 추가
  backend/agenda/src/main/java/tcp/project/agenda/agenda/application/AgendaService.java
  backend/agenda/src/main/java/tcp/project/agenda/agenda/application/dto/AgendaCreateRequest.java
  backend/agenda/src/main/java/tcp/project/agenda/agenda/application/dto/AgendaItemDto.java
  backend/agenda/src/main/java/tcp/project/agenda/agenda/application/dto/SelectedAgendaItemDto.java
  backend/agenda/src/main/java/tcp/project/agenda/agenda/application/dto/VoteRequest.java
  backend/agenda/src/main/java/tcp/project/agenda/agenda/domain/Agenda.java
  backend/agenda/src/main/java/tcp/project/agenda/agenda/domain/VoteRepository.java
  backend/agenda/src/main/java/tcp/project/agenda/agenda/ui/AgendaController.java
  backend/agenda/src/main/java/tcp/project/agenda/agenda/ui/dto/AgendaDto.java
  backend/agenda/src/main/java/tcp/project/agenda/agenda/ui/dto/AgendaListResponse.java
  backend/agenda/src/main/java/tcp/project/agenda/auth/application/dto/LoginRequest.java
  backend/agenda/src/test/java/tcp/project/agenda/agenda/application/AgendaServiceTest.java
  backend/agenda/src/test/java/tcp/project/agenda/agenda/ui/AgendaControllerTest.java
  backend/agenda/src/test/java/tcp/project/agenda/common/fixture/AgendaFixture.java
Labels: feature, backend

#26 [BE] 특정 안건 조회 기능 추가
  backend/agenda/src/main/java/tcp/project/agenda/agenda/application/AgendaService.java
  backend/agenda/src/main/java/tcp/project/agenda/agenda/domain/Agenda.java
  backend/agenda/src/main/java/tcp/project/agenda/agenda/domain/AgendaItem.java
  backend/agenda/src/main/java/tcp/project/agenda/agenda/domain/VoteRepository.java
  backend/agenda/src/main/java/tcp/project/agenda/agenda/exception/AlreadyVoteException.java
  backend/agenda/src/main/java/tcp/project/agenda/agenda/exception/NotTargetMemberException.java
  backend/agenda/src/main/java/tcp/project/agenda/agenda/ui/AgendaController.java
  backend/agenda/src/main/java/tcp/project/agenda/agenda/ui/dto/AgendaResponse.java
  backend/agenda/src/main/java/tcp/project/agenda/agenda/ui/dto/SelectItemDto.java
  backend/agenda/src/main/java/tcp/project/agenda/member/domain/Member.java
  backend/agenda/src/main/java/tcp/project/agenda/member/domain/MemberGradeRepository.java
  backend/agenda/src/test/java/tcp/project/agenda/agenda/application/AgendaServiceTest.java
  backend/agenda/src/test/java/tcp/project/agenda/agenda/domain/AgendaTest.java
  backend/agenda/src/test/java/tcp/project/agenda/agenda/ui/AgendaControllerTest.java
  backend/agenda/src/test/java/tcp/project/agenda/common/fixture/AgendaFixture.java
  backend/agenda/src/test/java/tcp/project/agenda/common/fixture/MemberFixture.java
  backend/agenda/src/test/java/tcp/project/agenda/common/support/ApplicationServiceTest.java
Labels: feature, backend, fix

#31 [BE] 안건 삭제 기능 추가
  backend/agenda/src/main/java/tcp/project/agenda/agenda/application/AgendaService.java
  backend/agenda/src/main/java/tcp/project/agenda/agenda/domain/Agenda.java
  backend/agenda/src/main/java/tcp/project/agenda/agenda/domain/VoteRepository.java
  backend/agenda/src/main/java/tcp/project/agenda/agenda/ui/AgendaController.java
  backend/agenda/src/test/java/tcp/project/agenda/agenda/application/AgendaServiceTest.java
  backend/agenda/src/test/java/tcp/project/agenda/agenda/ui/AgendaControllerTest.java
Labels: feature, backend

#33 [BE] 안건 수정 기능 추가
  backend/agenda/src/main/java/tcp/project/agenda/agenda/application/AgendaService.java
  backend/agenda/src/main/java/tcp/project/agenda/agenda/application/dto/AgendaUpdateRequest.java
  backend/agenda/src/main/java/tcp/project/agenda/agenda/application/validator/AgendaUpdateValidator.java
  backend/agenda/src/main/java/tcp/project/agenda/agenda/domain/Agenda.java
  backend/agenda/src/main/java/tcp/project/agenda/agenda/domain/AgendaItem.java
  backend/agenda/src/main/java/tcp/project/agenda/agenda/exception/InvalidUpdateAlreadyVoteStartedAgendaException.java
  backend/agenda/src/main/java/tcp/project/agenda/agenda/ui/AgendaController.java
  backend/agenda/src/test/java/tcp/project/agenda/agenda/application/AgendaServiceTest.java
  backend/agenda/src/test/java/tcp/project/agenda/agenda/domain/AgendaTest.java
  backend/agenda/src/test/java/tcp/project/agenda/agenda/ui/AgendaControllerTest.java
  backend/agenda/src/test/java/tcp/project/agenda/common/fixture/AgendaFixture.java
Labels: feature, backend

#36 [FE] 개발환경 셋팅
  frontend/.eslintrc.js
  frontend/.gitignore
  frontend/.prettierrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/__test__/App.test.js
  frontend/src/index.tsx
  frontend/src/pages/Home/index.scss
  frontend/src/pages/Home/index.tsx
  frontend/src/stores/states.ts
  frontend/src/styles/reset.scss
  frontend/src/styles/variables.scss
  frontend/src/types/global.d.ts
  frontend/tsconfig.json
  frontend/webpack.common.js
  frontend/webpack.dev.js
  frontend/webpack.prod.js
Labels: frontend, chore

#40 [BE] heath check API 추가
  backend/src/main/java/tcp/project/agenda/IndexController.java
  backend/src/main/java/tcp/project/agenda/auth/config/AuthConfig.java
Labels: feature, backend

#43 [FE] 레이아웃 구현
  .github/workflows/backend-cd.yml
  backend/agenda/.gitignore
  backend/agenda/build.gradle
  backend/agenda/gradle/wrapper/gradle-wrapper.jar
  backend/agenda/gradle/wrapper/gradle-wrapper.properties
  backend/agenda/gradlew
  backend/agenda/gradlew.bat
  backend/agenda/settings.gradle
  backend/agenda/src/main/java/tcp/project/agenda/AgendaApplication.java
  backend/agenda/src/main/resources/application.properties
  backend/agenda/src/test/java/tcp/project/agenda/AgendaApplicationTests.java
  frontend/src/App.tsx
  frontend/src/components/Layout/Header/index.scss
  frontend/src/components/Layout/Header/index.tsx
  frontend/src/components/Layout/index.scss
  frontend/src/components/Layout/index.tsx
  frontend/src/index.tsx
  frontend/src/styles/font.scss
  frontend/src/styles/variables.scss
  frontend/webpack.common.js
Labels: feature, frontend

#49 [BE] cors 설정 메서드 추가
  backend/src/main/java/tcp/project/agenda/auth/config/AuthConfig.java
Labels: feature, backend

#50 [BE] agenda, vote service 분리 및 API URL 수정
  backend/src/main/java/tcp/project/agenda/agenda/application/AgendaService.java
  backend/src/main/java/tcp/project/agenda/agenda/application/VoteService.java
  backend/src/main/java/tcp/project/agenda/agenda/ui/AgendaController.java
  backend/src/test/java/tcp/project/agenda/agenda/application/AgendaServiceTest.java
  backend/src/test/java/tcp/project/agenda/agenda/application/VoteServiceTest.java
  backend/src/test/java/tcp/project/agenda/agenda/ui/AgendaControllerTest.java
  backend/src/test/java/tcp/project/agenda/common/support/MockControllerTest.java
Labels: backend, refactor, fix

#46 [FE] feat : 베이직 인풋 컴포넌트 구현
  frontend/src/components/Input/index.scss
  frontend/src/components/Input/index.tsx
  frontend/src/pages/Home/index.tsx
Labels: feature, frontend

#45 [FE] feat : 베이직 버튼 컴포넌트 구현
  frontend/src/components/Button/index.scss
  frontend/src/components/Button/index.tsx
  package-lock.json
Labels: feature, frontend

#54 [BE] 안건 수정 API 변경된 부분 적용
  backend/src/main/java/tcp/project/agenda/agenda/application/AgendaService.java
  backend/src/main/java/tcp/project/agenda/agenda/application/dto/AgendaUpdateRequest.java
  backend/src/main/java/tcp/project/agenda/agenda/application/validator/AgendaUpdateValidator.java
  backend/src/main/java/tcp/project/agenda/agenda/domain/Agenda.java
  backend/src/main/java/tcp/project/agenda/agenda/exception/InvalidUpdateAlreadyVoteStartedAgendaException.java
  backend/src/test/java/tcp/project/agenda/agenda/application/AgendaServiceTest.java
  backend/src/test/java/tcp/project/agenda/agenda/domain/AgendaTest.java
  backend/src/test/java/tcp/project/agenda/agenda/ui/AgendaControllerTest.java
  backend/src/test/java/tcp/project/agenda/common/fixture/AgendaFixture.java
Labels: backend, modifiy

#55 [BE] 투표 항목 수정 기능 추가
  backend/src/main/java/tcp/project/agenda/agenda/application/AgendaService.java
  backend/src/main/java/tcp/project/agenda/agenda/application/dto/AgendaItemUpdateRequest.java
  backend/src/main/java/tcp/project/agenda/agenda/application/validator/AgendaItemUpdateValidator.java
  backend/src/main/java/tcp/project/agenda/agenda/domain/Agenda.java
  backend/src/main/java/tcp/project/agenda/agenda/domain/AgendaItem.java
  backend/src/main/java/tcp/project/agenda/agenda/exception/InvalidUpdateAlreadyVoteStartedAgendaException.java
  backend/src/main/java/tcp/project/agenda/agenda/ui/AgendaController.java
  backend/src/test/java/tcp/project/agenda/agenda/application/AgendaServiceTest.java
  backend/src/test/java/tcp/project/agenda/agenda/domain/AgendaTest.java
  backend/src/test/java/tcp/project/agenda/agenda/ui/AgendaControllerTest.java
  backend/src/test/java/tcp/project/agenda/common/fixture/AgendaFixture.java
Labels: feature, backend

#56 [BE] 연관관계 매핑 기능 추가
  backend/src/main/java/tcp/project/agenda/agenda/domain/Agenda.java
  backend/src/main/java/tcp/project/agenda/agenda/domain/AgendaItem.java
  backend/src/main/java/tcp/project/agenda/agenda/domain/Vote.java
  backend/src/test/java/tcp/project/agenda/agenda/domain/AgendaTest.java
Labels: backend, refactor
